/*remove the styling from the background of the buttons*/
/*change width of background of buttons*/
/*may include some image effect in the background and following down page */
/*I need a div for randomNumber, wins/lose, current total styled*/

body {
   background-color: plum; 
}
button {
    background-color: plum;
}

button:hover {
    background-color: darkmagenta;
}
button:focus {
    background-color: darkmagenta;
}
img {
    width: 150px;
    height: 200px;
}

#randomcapture {
    background-color: darkmagenta;
    width: 250px;
    height: 250px;
    font-size: large;


}
#currenttotal {
    border-style: dotted;
    background-color: darkmagenta;
    width: 250px;
    height: 250px;
    font-size: large;
}
#tallydiv {
    
   
}

